﻿<div ng-show="brands.length > 0">

  <h3>
    <span>
      <a href="/brands">Brand List</a>
    </span>
  </h3>
  <div ng-repeat="brand in brands">
    
    <label class="checkbox" for="{{brand.id}}">
      
      <input type="checkbox"
             value="{{brand.id}}"
             id="{{brand.id}}"
             name="selectedBrands[]"
             
             ng-model="brand.selected"
             ng-checked="{{brand.selected}}"
              />
      {{brand.name}}

    </label>
    
  </div>
  
</div>