﻿<div data-ng-show='message.containsSuccessfulMessage == false'>

  <div ng-model='product'>

        <div class='row'>
          <div class='col-md-12'>
            <span>
              <h1>
                {{ product.productName }}
              </h1>
            </span>
          </div>

          <div class='col-md-12'>
            <div>
              <label>{{ product.description }}</label>
            </div>
          </div>

        </div>

</div>