﻿
<div class="panel panel-default" >
	<!-- Default panel contents -->
	<div class="panel-heading"  ng-model="product">
    <span>Reviewing Product: </span>
    <span>{{ product.productName }}</span>
  </div>
	
  <div class="panel-body" ng-model="review">

	<form class='navbar-form navbar-left'
		method='POST'
		id='formCreateProductReview'
    name="formCreateProductReview">

    <input type="hidden" 
           id="reviewProductId" 
           name="reviewProductId" 
           ng-model="review.productId" 
           ng-value="{{ product.id }}" ng-init="review.productId = product.id" >
    </input>

    <div class='row'>
      <div class='col-md-12'>
        <label for="rating">Rating: {{product.rating}}</label>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-12'>
        <div ng-init="review.rating = product.rating "></div>
        <div class="star-rating" 
             star-rating="review.rating" 
             rating-value="review.rating"
             data-max="10"></div>
      </div>
    </div>
    
		<div class='row'>
			<div class='col-md-12'>
				
        <div role="alert">
          <label for="email">Email:</label>
          <span class="error" ng-show="formCreateProductReview.email.$error.required">
            Required!
          </span>
          <span class="error" ng-show="formCreateProductReview.email.$error.email">
            Not valid email!
          </span>
        </div>
        
			</div>
		</div>
		<div class='row'>
      
			<div class='col-md-12'>
				<input type="email" id='email' name='email'
					class='form-control' placeholder='Please enter your email'
					ng-model='review.email' 
					required />
        
			</div>
      
		</div>
		
		<div class='row'>
			<div class='col-md-12'>
				
        <div role="alert">
          
          <label for="comment">Your comments</label>
          <span class="error" ng-show="formCreateProductReview.comment.$error.required">
            Required!
          </span>
          
        </div>
        
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
			<textarea id='comment' name='comment'
					class='form-control' placeholder='Please enter your comments' 
					cols='30' rows='5' required 
					ng-model='review.comment'
					></textarea>
			</div>
		</div>
		<div class='row'>
			<div class='col-md-12'>
				<button class='btn btn-primary' 
					ng-click='createProductReview(review)'>Add Review</button
			</div>
		</div>

	</form>
				

	</div>
</div>