﻿<div data-ng-show='message.containsSuccessfulMessage == false'>

  <div data-ng-controller='productReviewController'>

    <div class='row'>
      <div class='col-md-12'>
        <% include message %>
        <% include validationSummary %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-12'>
        <% include _partialProductReviewForm %>
      </div>
    </div>

    <div class='row'>

      <div class='col-md-12'>
        <span>
          <label for="userReview">User Review:</label>
        </span>
      </div>

    </div>

    <div class='row' 
         ng-repeat='ur in userReviews' 
         ng-show='userReviews.length > 0'
         >

      <div class='col-md-4 col-sm-4 col-xs-4'>
        <span>
          <h6>{{ ur.email }}</h6>
        </span>
      </div>
      <div class='col-md-8 col-xs-8'>
        <div>
          {{ ur.comment }}
        </div>
      </div>
      
    </div>

  </div>
  
</div>