﻿<div>
  <div ng-show="products.length == 0">

    <div class='row'>

      <div class='col-md-12'>
        <h3>No Data</h3>
      </div>

    </div>

  </div>
  <div ng-show="products.length > 0">

    
    <div class='row'>

      <div class='col-md-12'>

        <h3>
          <span>
            <a href="/products">Product List</a>
          </span>
        </h3>
        
      </div>

    </div>

    <div class='row'>

<!-- <div dir-paginate="product in products | filter:q  | itemsPerPage: pageSize"> -->
        <div dir-paginate="product in products | filter:q | itemsPerPage: pagination.itemsPerPage"
                total-items="pagination.totalItems" current-page="pagination.current">

          <div class='col-md-4'>

            <div>
              <a href='/product/{{ product.id }}'>
                <img class='img-boxed' src="../../images/ecargo.jpg" alt='{{ product.productName }}' />
              </a>
            </div>

            <div>
              <a href='/product/{{ product.id }}'>
                <h5>{{ product.productName }}</h5>
              </a>
            </div>
          </div>

        </div>

    </div>

    <div class='row'>

      <div class='col-md-12'>
   
        <!-- paging-->
        <!--<dir-pagination-controls
          on-page-change='getData()'></dir-pagination-controls>-->
        
        <dir-pagination-controls 
          on-page-change="pageChanged(newPageNumber)"
          ></dir-pagination-controls>
      
      </div>

    </div>

    <div class='row'>

      <div class="col-xs-4">
        <label for="search">Search:</label>
          <input ng-model="q"  class="form-control" placeholder="Filter text"></input>
      </div>
      <div class="col-xs-2">
        <label for="search">items per page:</label>
          <input type="number" min="1" max="100" class="form-control" ng-model="pagination.itemsPerPage" ></input>
      </div>
      
    </div>
    
  </div>  
</div>