﻿<% include layout %>

<div data-ng-app='brandModule' data-ng-controller='brandController'>
	<% include viewBrands %>
</div>

<script src="../../javascripts/app/brand/brandModule.js"></script>
<script src="../../javascripts/app/brand/brandService.js"></script>
<script src="../../javascripts/app/brand/brandController.js"></script>