﻿<% include layout %>


<div class='container' data-ng-app='brandModule' data-ng-controller='createBrandController'>
	<div class='row'>
		<div class='col-md-12'>
			<% include message %>
			<% include validationSummary %>
		</div>
	</div>
	<div class='row'>
		<div class='col-md-6'>
    
			<div class="panel panel-default">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><%= title %></div>
			  <div class="panel-body">

				<form class='navbar-form navbar-left'
					method='POST'
					id='formCreateBrand'>

					<div class='row'>
						<div class='col-md-12'>
							<label for="name">Brand Name</label>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<input type='textbox' id='name' name='name'
								class='form-control' placeholder='Please enter Brand Name'
								ng-model='brand.name' 
								required />
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<label for="description">Brand Description</label>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
						<textarea id='description' name='description'
								class='form-control' placeholder='Please enter Brand Description' 
								cols='30' rows='5' required 
								ng-model='brand.description'
								></textarea>
						</div>
					</div>
					<div class='row'>
						<div class='col-md-12'>
							<button class='btn btn-primary' 
								ng-click='createBrand(brand)'>Create Brand</button
						</div>
					</div>

				</form>
				

			  </div>
			</div>

		</div>
	</div>
</div>

<script src="../../javascripts/app/brand/brandModule.js"></script>
<script src="../../javascripts/app/brand/brandService.js"></script>
<script src="../../javascripts/app/brand/createBrandController.js"></script>