﻿<% include layout %>

<div class='container' data-ng-app='productFilterModule' data-ng-controller='productFilterController' >

	<div class='row'>

		<div class='col-md-3 col-sm-4 col-xs-6'>

			<% include _partialFilter %>

		</div>

		<div class='col-md-9 col-sm-8 col-xs-6'>
			
			<% include _partialFilterResult %>

		</div>

	</div>
	
</div>

<script src="../../javascripts/app/brand/brandModule.js"></script>
<script src="../../javascripts/app/brand/brandService.js"></script>

<script src="../../javascripts/app/product/productModule.js"></script>
<script src="../../javascripts/app/product/productService.js"></script>

<script src="../../javascripts/app/productFilter/productFilterModule.js"></script>
<script src="../../javascripts/app/productFilter/productFilterController.js"></script>

<script src="../../javascripts/svgcheckbx.js"></script>