﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>

	<link href="../../stylesheets/bootstrap.min.css" rel="stylesheet" />

	<link href="../../stylesheets/style.min.css" rel="stylesheet" />


	<script src="../../javascripts/jquery-1.10.2.min.js"></script>
    <script src="../../javascripts/bootstrap.min.js"></script>
</head>

<div class='header-wrapper'>
	<nav class="navbar navbar-default">
		  <div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">eCargo Demo</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li><a href="/brands">Brand List <span class="sr-only">(current)</span></a></li>
				<li><a href="/products">Products</a></li>
			  </ul>

			  <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Brands Mgn<span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="/createBrand">Create</a></li>
					<li role="separator" class="divider"></li>

				  </ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container -->

		  
		</nav>
</div>



<script src="/bower_components/angular/angular.min.js"></script>

<script src="../../javascripts/app/validations/validationModule.js"></script>
<script src="../../javascripts/app/validations/requiredFieldValidationService.js"></script>

<script src="../../javascripts/app/user/userModule.js"></script>
<script src="../../javascripts/app/user/userService.js"></script>

<script src="../../javascripts/app/components/componentDirectives.js"></script>

<script src="/node_modules/angular-utils-pagination/dirPagination.js"></script>


</html>