﻿<% include layout %>

<div data-ng-app='productModule' data-ng-controller='productController'  data-ng-init="init(<%= products %>)">
	<% include viewProducts %>
</div>


<script src="../../javascripts/app/product/productModule.js"></script>
<script src="../../javascripts/app/product/productService.js"></script>
<script src="../../javascripts/app/product/productController.js"></script>