﻿<% include layout %>

<div ng-app='productModule' data-ng-controller='productDetailController' data-ng-init='init(<%= products %>)'>
	
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				
				<% include message %>

			</div>
		</div>
	</div>

	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				
				<% include _partialProductDetail %>

			</div>
		</div>

		<div class='row'>
			<div class='col-lg-5 col-md-12'>
				
				<% include _partialProductReview %>

			</div>
		</div>
	</div>


</div>




<script src="../../javascripts/app/product/productModule.js"></script>
<script src="../../javascripts/app/product/productService.js"></script>
<script src="../../javascripts/app/product/productDetailController.js"></script>
<script src="../../javascripts/app/product/productReviewController.js"></script>