﻿<div class='alert alert-danger'
	  data-ng-show='validationResult.containsValidationError'>

	<h3>
		<span>
      Please check the error before submitting.
    </span>
	</h3>

	<ul id='validationErrorMessage'>

	</ul>

</div>