﻿<div class='container'>

  <div class="row">
    <div class="col-md-12">
      <h2>Brand List</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12" ng-show='brands.length == 0'>No data here</div>
    <div ng-repeat="brand in brands" class="col-md-4" ng-show="brands.length > 0">

      <div>
        <a href='/products/{{ brand.id }}/brand'>
          <img class='img-boxed' src="../../images/ecargo2.png" alt='{{ brand.name }}' />
        </a>
      </div>

      <div>
        <a href='/products/{{ brand.id }}/brand'>
          <h5>{{ brand.name }}</h5>
        </a>
      </div>

    </div>

  </div>
  
</div>