﻿<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2>Product List</h2>
    </div>
  </div>
  
  <div class="row">
    
    <div class="col-md-12" ng-show='products.length == 0'>No data here</div>
    <div ng-repeat="product in products" class="col-md-4" ng-show="products.length > 0">

      <div>
        <a href='/product/{{ product.id }}'>
          <img class='img-boxed' src="../../images/ecargo.jpg" alt='{{ product.productName }}' />
        </a>
      </div>

      <div>
        <a href='/product/{{ product.id }}'>
          <h5>{{ product.productName }}</h5>
        </a>
      </div>
      
    </div>
    
  </div>

</div>
